<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AppEngine Express Admin</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/admin" class="navbar-brand">AppEngine Express Admin</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/admin">Pages</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>