{% extends "admin/base.html" %}

{% block content %}
    <h3>{{ action }} Page</h3>
    <form method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{ page.title }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name="author" id="author" value="{{ page.author }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control editable">{{ page.description }}</textarea>
        </div>
        <input type="hidden" name="publishedDate" id="publishedDate" value="{{ date.getTime() }}" class="form-control">
        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" />
<link rel="stylesheet" href="/form.css" />
{% endblock %}

{% block js %}
<script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
<script src="/form.js"></script>
{% endblock %}