{% extends "admin/base.html" %}

{% block content %}
    <h3>Page</h3>
    <div class="btn-group">
        <a href="/admin/{{ page.id }}/edit" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-edit"></i>
            <span> Edit page</span>
        </a>
        <a href="/admin/{{ page.id }}/delete" class="btn btn-danger btn-sm">
            <i class="glyphicon glyphicon-trash"></i>
            <span> Delete page</span>
        </a>
    </div>
    <div class="media">
        <div class="media-body">
            <h4>{{ page.title }}&nbsp;<small>{{ page.publishedDate }}</small></h4>
            <h5>{{ page.author }}</h5>
            <p>{{ page.description }}</p>
        </div>
    </div>
{% endblock %}